@import "../../scss/variables";
.main-navbar {
    background: #30343F;
    margin: 0;
    color: white;
    height: 40px;

    ul {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0;
        margin: 0 0 0 15px;;
        li {
            margin: 0 15px 0 15px;
            padding: 0 5px 0 5px;
            list-style: none;
            text-transform: uppercase;
            border-bottom: 1px solid rgba(0, 0, 0, 0);
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            &:not(:first-child):hover {
                background-color: orange;
                color: black;
                cursor: pointer;

                .navbar-expander-container {
                    display: block;
                }
            }
            &:first-child {
                font-size: 1.2em;
                margin-left: 0;
            }

            .navbar-expander-container {
                min-width: 100%;
                display: none;
                flex-direction: column;
                position: absolute;
                left: 0;
                top: 100%;
                background: orange;
                .navbar-expander-child {
                    white-space: nowrap;
                    padding: 7px;
                    text-align: left;
                    color: black;
                    text-transform: none;
                    &:hover {
                        background: darkorange;
                        color: black;
                    }
                }
            }
        }
        
    }
    
}


@media screen
    and (min-device-width: $maxMobileWidth) {
        .main-navbar ul {
            margin: auto;
            max-width: 1024px;
        }
    }