.opponent-details {
    .MuiExpansionPanelSummary-content {
        justify-content: space-between;
        align-items: center;
    }

    .opponentName {
        text-align: left;
        text-transform: capitalize;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    small {
        color: grey;
        font-size: 14px;
        margin-left: 5px;
    }

    .history {
        text-align: right;
        span {
            position: relative;
        }
        .white {
            color: white;
            path {
                stroke: black;
                stroke-width: 15;
            }
        }
        .black {
            color: black;
        }
        .winner, .loser, .remis {
            &::after {
                content: '';
                width: 12px;
                height: 12px;
                border-radius: 50%;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        .loser::after {
            background-color: darkred;
        }
        .winner::after {
            background-color: darkgreen;
        }
        .remis::after {
            background-color: grey;
        }
    }

    .half-container {
        flex: 1;
    }

    .nf6-table {
        text-align: left;
        padding: 0;
        font-size: 12px;
        line-height: 12px;

        .nf6-cell:first-child {
            padding-left: 0;
        }
    }
    
}