@import "../../scss/variables";
#User {
    .match-history-component {
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        
        .match-history-header {
            display: flex;
            justify-content: space-between;
            align-content: center;
            margin-bottom: 5px;
            h1 {
                text-align: left;
                margin: 0;
            }
            select {
                padding: 10px;
                text-transform: capitalize;
            }
        }
    }
}

@media screen and (max-device-width: $maxMobileWidth) {
    #User .match-history-component {
        margin-left: 0;
        width: 100%;
    }
}