.tournament-round {
    width: 100%;
    vertical-align: top;
    h3 {
        text-align: left;
        margin: 15px 5px 5px 0;
    }
    
    // Margin between matches
    > * {
        margin-top: 0.3em;
    }
}