@import "../../scss/variables";

#Home {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    .MMRChart-container {
        grid-column: 1 / span 2;
    }
}

@media screen and (max-width: $maxMobileWidth) {
    #Home {
        grid-template-columns: 100%;
    }
}