@import "../../scss/variables";

#Home {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto auto;
    padding-top: 25px;
}

@media screen and (max-device-width: $maxMobileWidth) {
    #Home {
        grid-template-columns: auto;
    }
}