@import "../../scss/variables";

#Home {
    display: flex;
    > * {
        flex: 1;
    }
}

@media screen and (max-device-width: $maxMobileWidth) {
    #Home {
        flex-direction: column;
    }
}