.ranking-list-component {
    display: inline-table;
    h1 {
        text-align: left;
    }

    .ranking-table-cell:nth-child(3) {
        text-align: left;
        text-transform: capitalize;
    }
}

@keyframes hot-streak {
    from {
        color: orange;
        text-shadow: 0px 0px 1px orange;
    }
    to {
        color: red;
        text-shadow: 0px 0px 1px red;
    }
}