@import "../../scss/variables";

.ranking-list-component {
    display: inline-table;
    h1 {
        text-align: left;
    }

    .ranking-table-cell:nth-child(3) {
        text-align: left;
        text-transform: capitalize;
    }
}

@media screen and (max-device-width: $maxMobileWidth) {
    #Home {
        .ranking-list-component {
            .ranking-table-row, .ranking-table-header {
                .ranking-table-cell {
                    padding: 8px;

                    &:first-child {
                        display: none;
                    }
                }
            }
        }
    }
}