@import "../../../scss/variables";

#login-btn {
    height: 100%;
    background: none;
    border: none;
    text-transform: uppercase;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

@media screen and (max-device-width: $maxMobileWidth) {
    #login-btn {
        margin-left: auto;
        margin-top: 1em;
    }
}