@import "../../../scss/variables";
.add-game-popup {
    width: 512px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-wrap: wrap;
    h1, h2, h3 {
        text-align: left;
        flex: 1;
        margin-top: 0;
    }

    .playerSelectorContainer {
        flex: 1;
        display: flex;
        justify-content: space-between;
        > div {
            flex: 1;
            display: inline-block;
            padding: .3px; //Makes sure borders are visible in firefox
            &:first-child {
                margin-right: 15px;
            }
        }
    }

    .winnerContainer {
        display: flex;
        flex: 1;
        flex-direction: row;
        margin-top: 15px;

        .inline-button {
            flex: 1;
            &:nth-child(2) {
                margin: 0 5px 0 5px;
            }
        }
    }
}

@media screen and (max-device-width: $maxMobileWidth) {
    .add-game-popup {
        width: 100%;
        .winnerContainer .inline-button {
            padding: 25px;
        }
        button {
            padding: 25px;
        }
    }
}