.add-player-popup {
    min-width: 400px;
    min-height: 175px;
    h1, h2, h3 {
        text-align: left;
        margin-top: 5px;
    }

    input {
        padding: 15px;
        font-size: 18px;
        height: 40px;
        width: 100%;
    }

    button {
        height: 40px;
        width: 100%;
        margin-top: 15px;
    }
}