.delete-game-popup {
    display: grid;
    grid-template: 1fr auto 1fr / 1fr 1fr;
    grid-column-gap: 15px;
    h1 {
        grid-column: 1 / span 2;
        margin: 0;
    }

    .game-info {
        grid-column: 1 / span 2;
        .lineup {
            text-transform: capitalize;
        }
    }

    .inline-button {
        font-size: 2em;
        text-align: center;
    }
}